@import helper._

@(userForm: Form[UserForm])(users: Seq[User])(usersActive: Seq[User])(usersDelete: Seq[User])(implicit messages: Messages)

@main("Welcome to Play") {
<h1>Welcome to Play!</h1>
<h2>This is my first MVC shot</h2>
@for(user <- users){
<h3>@user.name @user.age</h3>
}


<select id="SelecUserForRemove">
    @for(userActive <- usersActive){
    <option value=@userActive.id>@userActive.name.toString()</option>
    }
</select>

@form(action = routes.UserController.indexPOST()){
@inputText(userForm("name"))
@inputText(userForm("age"))


<button type="submit" name="action" value="add">Add element</button>
<button type="submit" name="action" value="remove">Remove element</button>
<button type="submit" name="action" value="restore">Restore element</button>
<button type="submit" name="action" value="edit">Edit element</button>
}

</br>
<button onclick="myFunctionAll()">Show all elements</button>
<button onclick="myFunctionActive()">List active users</button>
<button onclick="myFunctionDelete()">List deleted users</button>
<br>
<br>
<br>
<button id="testButton">_____TEST BUTTON_______</button>

<script>
function myFunctionAll() {
  alert("@users.mkString("\\n")");
}

function myFunctionDelete() {
  alert("@usersDelete.mkString("\\n")");
}

function myFunctionActive() {
  alert("@usersActive.mkString("\\n")");
}



</script>


<script>
$(document).ready(function(){
  $("#testButton").click(function(){
    $.ajax({
    url: "/user/1",
    });
  });

//работа с option для удаления элемента

var currentID = $('#SelecUserForRemove').val();
console.log("currentID= "+currentID)
$('#SelecUserForRemove').change(function() {
    currentID = $(this).val();
	console.log(("currentID= "+currentID))
});




});











</script>


}